/*===================Estilos Web Metales Roma ====================*/
/*Author: Eli­as Muniz Adaro | Lood AGENCY*/
/*Year: 2019, Month: Septiembre*/
/**/

/*1- Textos y fuentes para mobile y para desktop*/

/*2- Estilos FullPage.js*/


/*================ 1- Textos y Fuentes ================*/

/*Importamos fuentes*/
 /*Fuentes*/

@font-face {
  font-family: Gilroy-Black;
  src: url("fuentes/GILROY-BLACK.TTF");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("fuentes/GILROY-BOLD.TTF");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("fuentes/GILROY-REGULAR.TTF");
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("fuentes/GILROY-MEDIUM.TTF");
}

@font-face {
  font-family: Gilroy-Light;
  src: url("fuentes/GILROY-LIGHT.TTF");
}

@font-face {
  font-family: Bogle-Regular;
  src: url("fuentes/Bogle-Regular.otf");
}

@font-face {
  font-family: Bogle-Bold;
  src: url("fuentes/Bogle-Bold.otf");
}

.Gilroy-Bold{
  font-family: 'Gilroy-Bold' !important;
}

.Gilroy-Black{
  font-family: 'Gilroy-Black' !important;
}

.Gilroy-Regular{
  font-family: 'Gilroy-Regular' !important;
}
.Gilroy-Medium{
  font-family: 'Gilroy-Medium' !important;
}

.light{
  font-family: 'Gilroy-Light';
}

  .ft-14{
    font-size: 14px !important;
  }


  /*Colores*/
  
  .blanco {
    color: #fff !important;
  }
  .rojo-back{
    background: #bb0811
  }
  .naranja {
    color: #ff4527 !important;
  }
  .rojo{
    color: #bb0811 !important;
  } 
  .rosa{
    color: #ff1d4e !important
  }
  .amarillo{
    color: #ffa31b !important;
  }
  .gris {
    color: #606060 !important;
  }
  
  .gris-2{
    color: #b6b6b6 !important
  }
  .gris-3{
    color: #c0c0c0 !important
  }
  .griscard{
    color: #606060 !important
  }
  
  .negro {
    color: #222 !important;
  }
  .negro-2{
    color: #616161 !important
  }
  .verde {
    color: #3daf88 !important;
  }

  .azul{
    color: #393b59 !important;
  }
  .azul-2{
    color: #32639d !important
  }
  .celeste{
    color: #5392FB !important
  }
  
  /*Text Align*/
  .left {
    text-align: left !important;
  }
  
  .justifica{
    text-align: justify !important
  }
  .mt-rl{
    margin-left: 0 !important;
    margin-right: 0 !important
  }
  .right {
    text-align: right !important;
  }
  
  .center {
    text-align: center !important;
  }
  
  .italic{
    font-style: italic;
  }
  html {
      overflow-x: hidden !important;
         width: 100vw !important;
    max-width: 100vw !important;
  }
  body{
    font-family: 'FuturaBookfont', sans-serif !important;
    font-size: 16px;
    overflow-x: hidden !important; 
    width: 100vw !important;
    max-width: 100vw !important;
  }
  .vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
 
  
  /*TamaÃ±os*/
  h1 {
      font-size: 7em !important;
  }
  
  h2{
    font-size: 3.9em  !important;
  }
  
  h3 {
      font-size: 3.4em !important;
      line-height: 1em;
  }
  
  h4{
      font-size: 2em !important;
  }
  
  h5{
      font-size: 26px !important
  }
  
  p{
      font-size: 16px !important;
      line-height: 1.4em !important;
  }

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 2em !important;
    }
    h2 {
      font-size: 2.4em !important;
    }
    .pad-10-lados-mob{
        padding: 0 10% !important;
    }
  }
  
  /*2- Estilos FullPage.js*/
  #section-home{
      background-image: url(../img/background-home.jpg);
      background-size: cover
  }
  
  #section-nosotros{
    background-image: #f3f3f3 !important;
  }
  
  
  /*3- Paddings*/
@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}
  .fl-right{
    float: right !important;
  }

  .fl-left{
    float: left !important;
  }

  .pad-0-lados{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pad-20-lados{
    padding-right: 20%;
    padding-left: 20%
  }

  .pad-10-tb{
    padding-top: 10%;
    padding-bottom: 10%
  }

  .pad-r-0{
    padding-right: 0 !important;
  }
  .pad-l-0{
    padding-left: 0 !important;
  }
  .pad-5
  {
    padding: 5%;
  }
   .pad-5-t
  {
    padding: 5%;
  }
  .pad-5-b{
    padding-bottom: 5%
  }

  .pad-5-tb{
    padding-top: 5%;
    padding-bottom: 5%
  }
  
  .pad-4 {
      padding: 4%;
  }

  .pad-l--5{
    padding-left: -5%
  }
  
  .pad-10-r{
    padding-right: 10% 
  }
  .pad-0-r{
    padding-right: 0
  }
  
  .pad-5-l{
    padding-left: 5% !important
  }
    
  .pad-5-r{
    padding-right: 5% 
  }
  
  .pad-2{
    padding: 2%
  }

  .pad-15-r{
    padding-right: 15% 
  }
  
  .pad-20-r{
    padding-right: 20% 
  }
  .padl-15px{
    padding-left:15px
  }

  .pad-20-tb{
    padding-top: 20% !important;
    padding-bottom: 20% !important
  }

  .pad-10-tb{
    padding-top: 10% !important;
    padding-bottom: 10% !important
  }

  .pad-7-tb{
    padding-top: 7% !important;
    padding-bottom: 7% !important
  }
  
  /*4- Margenes*/
  
  .mt-0{
    margin-top: 0 !important
  }
  
  .mb-0{
    margin-bottom: 0 !important
  }
  
  .mt--2{
    margin-bottom: -2% !important
  }

  .mb-2{
    margin-bottom: 2% !important
  }

  .mt-1-5{
    margin-top: 1.5%
  }
  .mt-2{
    margin-top: 2% !important
  }

   .mb-4{
    margin-bottom: 4% !important
  }

  .mt-4{
    margin-top: 4% !important
  }
  
  .mb-20{
    margin-bottom: 20% !important
  }
  
  .mt-mb-2{
      margin-top: 2%;
      margin-bottom: 2%;
  }
  
  .mt_menos_5{
    margin-top: -10px
  }
  
  .mt-5{
    margin-top: 5%
  }
  .mb-5{
    margin-bottom:  5%
  }
  .mb-7{
    margin-bottom:  7%
  }
  .mt-3{
    margin-top: 3%
  }
  
  .mt-10{
    margin-top: 10%
  }
  
  .mb-10{
    margin-bottom: 10% !important
  }
  
  .mt-20{
    margin-top: 20% !important
  }
  
  .mt-30{
    margin-top: 30% !important
  }
  
  .mr-5{
    margin-right: 5%
  }
  .mr-10{
    margin-right: 10%
  }
  .mr-15{
    margin-right: 15%
  }
  .ml-5px{
    margin-left: 5px
  }

  .ml-5{
    margin-left: 5% !important
  }

  /*100vh*/
  .alto-100vh{
      height: 100vh !important;
      width: 100vh
  }

  /*Reset A link*/
  a {
    color: #fff;
  }
  a:hover{
    color: #fff;
    transition: all .5s ease;
    text-decoration: none
  }
  a:hover{
    transition: all .5s ease;
    opacity: 0.8;
  }