    {% load static %}
     <!-- <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="owl-carousel margin-tp">
                        PRIMERO 
                        <div class="item" id="elearning-ac">
                            <div class="container-fluid">
                                <a class="nav-link active " id="v-pills-home-tab" data-toggle="pill" href="#elearning"
                                    role="tab" aria-controls="elearning" aria-selected="true" onclick="verifica(1)">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            <img src="{% static 'core/img/servicios/elearning.png' %}" alt="" style="width:100%">
                                        </div>
                                        <div class="col-md-9 col-xs-9" style="padding:0">
                                            <h5 class="light">E-learning </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item" id="reforzamiento-ac">
                            <div class="container-fluid">
                                <a class="nav-link  " id="v-pills-home-tab" data-toggle="pill" href="#reforzamiento"
                                    role="tab" aria-controls="reforzamiento" aria-selected="true" onclick="verifica(2)">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            <img src="{% static 'core/img/servicios/reforzamiento.png' %}" alt="" style="width:100%">
                                        </div>
                                        <div class="col-md-9 col-xs-9" style="padding:0">
                                            <h5 class="light">Reforzamiento </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item" id="aumentada-ac">
                            <div class="container-fluid">
                                <a class="nav-link  " id="v-pills-home-tab" data-toggle="pill" href="#aumentada"
                                    role="tab" aria-controls="aumentada" aria-selected="true" onclick="verifica(3)">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            <img src="{% static 'core/img/servicios/realidad-aumentada.png' %}" alt="" style="width:100%">
                                        </div>
                                        <div class="col-md-9 col-xs-9" style="padding:0">
                                            <h5 class="light">Realidad Aumentada </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item" id="virtual-ac">
                            <div class="container-fluid">
                                <a class="nav-link  " id="v-pills-home-tab" data-toggle="pill" href="#virtual"
                                    role="tab" aria-controls="virtual" aria-selected="true" onclick="verifica(4)">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            <img src="{% static 'core/img/servicios/realidad-virtual.png' %}" alt="" style="width:100%">
                                        </div>
                                        <div class="col-md-9 col-xs-9" style="padding:0">
                                            <h5 class="light">Realidad Virtual</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item" id="chatbot-ac">
                            <div class="container-fluid">
                                <a class="nav-link  " id="v-pills-home-tab" data-toggle="pill" href="#chatbot"
                                    role="tab" aria-controls="chatbot" aria-selected="true" onclick="verifica(5)">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            <img src="{% static 'core/img/servicios/chatbot.png' %}" alt="" style="width:100%">
                                        </div>
                                        <div class="col-md-9 col-xs-9" style="padding:0">
                                            <h5 class="light">Chatbot </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        --> 

         <div class="container">
            <div class="row mt-10"> </div>
        </div>